<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488075005801-dc7a7sousumhsbi4qma73gtakp12i7sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488075005801-dc7a7sousumhsbi4qma73gtakp12i7sq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>488075005801-pdkq671patan876kq27flcopuaui0amc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-NS5NkQfnogERc7GUP2IAhc_LBaV3yII</string>
	<key>GCM_SENDER_ID</key>
	<string>488075005801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uploadFileCloud</string>
	<key>PROJECT_ID</key>
	<string>fir-cloud-74b25</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cloud-74b25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488075005801:ios:287424b8e3bf4d8eeef7f8</string>
</dict>
</plist>